body{
    background-color: lightblue;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: blueviolet;
}
p{
    color: red;
    font-size: 145%;
    margin: 50px;
}
a{
    color: yellow;
    font-size: 200%;
    margin: 70px;
}
h1, p{
    text-align: center;
}
div{
    text-align: center;
}
#spinning-maxwell{
    display: block;
    margin:auto;
    width: 30%;
    position: relative;
    top: 0;
    left: 0;
}
a:hover{
    color: black;
}
